body {
    background-color: #FFF5EE;
}

.sec {
    background-color: #F0FFFF;
    border: 1px solid #000;
    margin: 10px;
    width: 50%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.main {
    border: 2px solid black;
    padding: 0 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

input[type=text], input[type=number] {
    width: 98%;
    padding: 5px;
    margin: 5px 0 2px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

input[type=submit], #but {
    background-color: darkgray;
    color: white;
    padding: 5px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #778899;
    outline: none;
}

#but {
    width: 10%;
}
