{% extends "base.html" %}

{% block body %}
    <h1>{{ title }}</h1>
    {#  условие должно обязательно закрываться конструкцией {% endif %} #}
    {#  цикл так же должен закрываться конструкцией {% endfor %} #}
    <form action="/change_mode" method="post">
        <input type="hidden" id="userInput" name="userInput">
        <button type="submit" id='but' onClick="confirmBooking()"> Сменить тему</button>
    </form>
    <div type="submit" id='but' class="sec" onclick="location.href = '{{ url_for("add_note") }}'">Добавить заметку</div>
    <br>
    <div type="submit" id='but' class="sec" onclick="location.href = '{{ url_for("random_film") }}'">Какой фильм сегодня посмотреть?</div>

    <div class="main">

        <form method="post">
            <h2><b>Новый фильм:</b></h2>
            <label class="sign-in-form__label"><b>Название:</b><br>
                <input type="text" id='nam1' placeholder="Введите название фильма" name="name" required maxlength="100">
            </label>
            <br>
            <label class="sign-in-form__label"><b>Рейтинг:</b><br>
                <input type="text" id='rat1' placeholder="Укажите рейтинг" name="rating" required>
            </label>
            <br>
            <label class="sign-in-form__label"><b>Страна:</b><br>
                <input type="text" id='cou1' placeholder="Укажите страну" name="country" required maxlength="100">
            </label>
            <br>
            <input type="hidden" name="action" value="posting">
            <input type="submit" value="Добавить">
        </form>
    </div>
    {% for film in films %}
        <div class="sec" onclick="location.href = '{{ url_for("get_film", film_id=film.id) }}'">
            <p>{{ film.name | upper() }}</p>
            <p>{{ film.rating |round(1, 'floor') }}</p>
        </div>
    {% endfor %}
{% endblock %}
{% block script %}
    <script>
        function confirmBooking() {
            if (confirm('Хотите изменить тему?') == true) {
                document.getElementById("userInput").value = "True";
            }
        }
    </script>
{% endblock %}
