<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOTE</title>
</head>
<body>
    <!-- форма для создания заметки -->
<div class="main">

        <form method="post">
            <label class="sign-in-form__label"><b>Заметка:</b><br>
                <input type="text" id='nam1' placeholder="" name="name" required>
            </label>
            <input type="hidden" name="action" value="posting">
            <input type="submit" value="Добавить">
        </form>
    </div>
</body>
</html>